{% extends 'office.html' %}

{% block office-content %}
<ol class="breadcrumb">
    <li><a href="{% url 'office:office-profile' %}">الملف الشخصي</a></li>
    <li class="mx-1">/</li>
    <li class="active" aria-current="page">تغيير كلمة المرور</li>
</ol>

<section class="my-3">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-3">
                <div class="card bg-light">
                    <div class="card-header text-white bg-dark">تغيير كلمة المرور</div>
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="form-group col-12">
                                    <label for="id_old_password">{{ form.old_password.label }}</label>
                                    {{ form.old_password }}
                                </div>
                                <div class="form-group col-12">
                                    <label for="id_new_password1">{{ form.new_password1.label }}</label>
                                    {{ form.new_password1 }}
                                </div>
                                <div class="form-group col-12">
                                    <ul class="list-unstyled">
                                        <li><i class="fas fa-angle-left ml-2 text-warning"></i>لا يمكن أن تكون كلمة مرورك مشابهة جدًا لمعلوماتك الشخصية الأخرى.</li>
                                        <li><i class="fas fa-angle-left ml-2 text-warning"></i>يجب أن تحتوي كلمة المرور الخاصة بك على 8 أحرف على الأقل.</li>
                                        <li><i class="fas fa-angle-left ml-2 text-warning"></i>لا يمكن أن تكون كلمة المرور الخاصة بك كلمة مرور شائعة الاستخدام.</li>
                                        <li><i class="fas fa-angle-left ml-2 text-warning"></i>لا يمكن أن تكون كلمة مرورك رقمية بالكامل.</li>
                                    </ul>
                                </div>
                                <div class="form-group col-12">
                                    <label for="id_new_password2">{{ form.new_password2.label }}</label>
                                    {{ form.new_password2 }}
                                </div>
                            </div>
                            <div class="alert alert-danger" role="alert">عند تغيير كلمة المرور لايمكن التراجع عن هذه الخطوه فيما بعد.</div>
                            <button class="btn btn-warning" type="submit">تغيير كلمة المرور</button>
                            <button class="btn btn-dark" onclick="history.back()">تراجع</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock office-content %}