{% extends 'officeadmin.html' %}

{% block officeadmin-content %}
<ol class="breadcrumb">
    <li>المكتب</li>
    <li class="mx-1">/</li>
    <li class="active" aria-current="page">تعديل حالة حساب المكتب</li>
</ol>

<section class="my-3">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-3">
                <div class="card bg-light">
                    <div class="card-header bg-dark text-white"><label class="m-0" for="id_is_active">حالة الحساب<span class="text-warning">*</span></label></div>
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="form-group mb-0 col-md-12">
                                    <div class="card bg-light mb-3">
                                        <div class="card-body">
                                            {{ form.is_active }}
                                            <label class="form-check-label mr-4" for="id_is_active">حالة حساب المكتب (تنشيط الحساب)</label>
                                        </div>
                                    </div>
                                  </div>
                            </div>
                            <button class="btn btn-warning" type="submit">حفظ التعديل</button>
                            <button class="btn btn-dark" onclick="history.back()">تراجع</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock officeadmin-content %}