<!DOCTYPE html>
{% load static %}
<html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <title>PUBLIC</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/office.style6.css' %}">
</head>
<body>

    <!-- navbar -->
    <nav class="navbar navbar-expand-lg bg-dark">
        <a class="navbar-brand" href="#"><span class="text-warning">H</span>awala <span class="text-warning">S</span>ystem</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">رابط</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account:login' %}">تسجيل الدخول</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- end navbar -->

    {% block public-content %}{% endblock %}

    <script src="{% static 'js/jquery-3.5.1.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/fontawesome-all.min.js' %}"></script>
</body>
</html>
